/*
* The items marked for cleanup in this file are currently
* needing !important flags because the locally scoped
* styled components are overriding the styles. This will be
* fixed by bringing the styles in to the stylesheet.
*/

@include below(1100px) {
  html {
    font-size: 56.25%;
  }
}


@include below(974px) {
  html {
    font-size: 50%;
  }

  header.main-header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5rem 0;
  }

  .copyright button::before {
    pointer-events: none;
  }

  .main-footer {
    justify-content: center!important; // cleanup

    .star-toggle {
      display: none;
    }
  }

  .content {
    padding: 0 2.5rem!important; // cleanup
  }

  .search-form {
    top: 5rem!important; // cleanup
  }

}


@include below(700px) {

  .content {
    padding: 0 6rem!important;
  }

  .image:focus,
  .image:hover {
    transform: none!important;
  }

  .image-display__title {
    font-size: 4rem!important; //cleanup
  }
}