.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;

  @include below(1100px){
    grid-template-columns: repeat(3, 1fr);
  }

  @include below(730px){
    grid-template-columns: repeat(1, 1fr);

    .image img {
      height: 400px;
    }
  }
}