@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  // Colors
  --white: #FEFEFE;
  --black: #000000;
  --grey: #1F2937;
  --grey-1: #97979b;
  --grey-2: #111827;
  --red: #FC3D20;
  --blue: #15418C;
  --blue-2: #1f4068;
  --blue-3: #162447;
  --blue-4: #3576aa;

  // Color Functions
  --fontColor: var(--white);
  --nasaBlue: var(--blue);
  --nasaRed: var(--red);
  --contentBackgroundColor: var(--black);
  --fontPrimaryColor: var(--white);
  --lightGrey: var(--grey-1);
  --darkGrey: var(--grey-2);
  --lightBlue: var(--blue-4);

  // Sizes
  --maxContentWidth: 1100px;
  --headerHeight: 14rem;

  // Fonts
  --fontPrimary: 'IBM Plex Sans', sans-serif;
  --fontSecondary: 'Open Sans', sans-serif;

  // Decoration
  --roundedEdge: 3px;

  // Drop Shadows
  --smallShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --mediumShadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --largeShadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  // Image Hover
  --imageHoverSpeed: 0.3s;
  --imageHoverCurve: cubic-bezier(.16,.72,.24,.92);

}