html {
  box-sizing: border-box;
  font-size: 62.5%;  // Sets the value of 1rem = 10px ~ Assumes browser default 16px font
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

